<!-- index.hbs -->

<div class="description">
    <p>This is the homepage of our project.</p>
	<p>Here you can find information describing each page in our system.</p>
    <p>Team: Group 80</p>
         
    <p>&nbsp;</p>
        <div>
            <p> <strong>Plants:</strong> page containing information about different plants watering requirements, toxicity, light requirements, and season. Allows for adding new plants.</p>
            <p> <strong>Products:</strong> page containing the name and pricing for all products sold by Potted Palace Nursery. Allows for adding new products, and deleting or editing of current products. </p>
            <p> <strong>Sales:</strong> page containing information for each sale made. Allows for adding new sales into the system.</p>
            <p> <strong>Invoice Details:</strong> page containing detailed information for sales made. Allows for adding new line items, and deleting invoice detail lines.</p>
            <p> <strong> Customers:</strong> page containing information on all customers. Allows for adding new customers, and editing current customer information.</p>
            <p> <strong>Employees:</strong> page containing information for all employees. Allows for adding new employees, searching for specific employees, and editing current employee information.</p>
        </div>
</div>


